body {
	font-family: Arial;
	background-color: #d8d9d0;
}
h1 {
	font-size: 64px;
	color: #00aea5;
}

p {
	font-size: 24px;
	margin-bottom: 50px;
	background-color: beige;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}
.button {
  display: block;
  width: 100%;
  border: none;
  background-color: #00aea5;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
